<div class="app">
    <div class="container">
        <div class="row">
            <!-- first col -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body"></div>
                    <form>
                        
                        <div class="form-group">
                            <label for="">Select Image</label>
                            <input type="file" class="form-control" accept="image/*" (change)="preview($event)">
                        </div>

                        <div class="form-group">
                            <label for="topText">Top Text</label>
                            <input type="text" class="form-control" name="topText" [(ngModel)]="topText" (keyup)="topTextFunc($event)">
                        </div>

                        <div class="form-group">
                            <label for="bottomText">Bottom Text Text</label>
                            <input type="text" class="form-control" name="bottomText" [(ngModel)]="bottomText">
                        </div>

                        <div class="row">
                            <!-- first color picker -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="textColor">Text Color</label>
                                    <color-sketch></color-sketch>
                                </div>
                            </div>
                            <!-- second color picker -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Background Color</label>
                                    <color-sketch></color-sketch>
                                </div>
                            </div>
                        </div>
                        <!-- add download button -->
                        <button style="width: 100%;" class="btn btn-outline-primary btn-block mt-5">Download</button>
                    </form>
                </div>
            </div>
            <!-- second col -->
            <div class="col-md-6">
                <p style="width: 100%;" class="text-center">{{ topText ? topText : 'Top Text'}}</p>
                <canvas #memeCanvas class="drop-shadow" style="background-color: #f9f9fd; width: 100%; height: 100%;">  
                </canvas>
                <p style="width: 100%;" class="text-center">{{ bottomText ? bottomText: 'Bottom Text' }}</p>
            </div>
        </div>
    </div>
</div>