.brand{
    margin-top: -50px;
    height: 150px;
    text-align: center;
    padding: 20px;
    background-color: #f7f6fb;
    font-family: 'Marck Script', cursive;
    font-size: 55px;
    color: #300eda;
}